{
  "ignorePatterns": ["node_modules", "out", "outdir", "dist", "storybook-static"],
  "extends": ["xo", "plugin:prettier/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["import", "unicorn"],
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": ["plugin:@typescript-eslint/recommended","plugin:import/typescript"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/consistent-type-imports": "error"
      }
    }
  ],
  "rules": {
    "max-params": ["off"],
    "complexity": ["off"],
    "prefer-destructuring": [
      "error",
      {
        "object": true
      }
    ],
    "guard-for-in": ["off"]
  }
}
